{% extends 'base.html.twig' %}
{% block title %}Misión - Visión{% endblock %}
{% block body %}
    <div class="container" style="">
        <div class="row post">
            <div class="col-md-6">
                <h2 class=page-header>Misión</h2>
                <p>
                    Entregar respuestas de ingeniería a nuestros clientes  a través de un servicio confiable e integral, cumpliendo con sus normas y expectativas de las diferentes empresas y personas 
                </p>
            </div>
            <div class="col-md-5">
                <h2 class=page-header>Visión</h2>
                <p>
                         Desarrollar diseños de calidad e innovadores, cumpliendo con los propósitos de nuestros clientes. Nuestra organización aspira a la mejora continua y sustentable, a través de los mejores estándares de calidad, seguridad y cuidado del medio ambiente.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
