{% extends 'base.html.twig' %}
{% block title %}Nuestra Empresa{% endblock %}
{% block body %}
    <div class="container" style="margin-bottom: 150px;">
        <div class="row post">
            <div class="col-md-7" style="margin-top: 100px;">
                <h2>Nuestra empresa</h2>
                <p style="margin-top: 40px;">
                    Nace desde la premisa de generar soluciones integrales a personas que requieran cambiar, modernizar o transformar los espacios habitacionales y comerciales. 
                    Nuestra  empresa se dedica a  otorgar servicios de construcción, remodelación y su posterior mantenimiento, en diversos rubros y especialidades
                </p>
            </div>
        </div>
    </div>

{% endblock %}
