{% extends 'base.html.twig' %}
{% block title %}Objetivo{% endblock %}
{% block body %}
    <div class="container">
        <div class="row post" style="margin-top: 100px;margin-bottom: 100px;">
            <div class="col-md-7">
                <h2>Objetivo</h2>
                <p style="margin-top: 40px;">
                    Entregar un servicio integral a todos nuestros clientes en diferentes mercados, a través de profesionales altamente capacitados, creando soluciones eficaces y eficientes sobre una base técnica, para lo cual contamos con herramientas de última generación e instrumental vanguardista. 
                </p>
            </div>

        </div>
    </div>

{% endblock %}
